html, body{
    height: 100%;
}

body {
    background-image: url("images/bg-bottom.svg"), url("images/bg-top.svg");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(232, 13%, 33%);
    text-align: center;
    margin: auto;
    line-height: 200%;
}

#toggleBox{
    text-align: center;
    color: hsl(234, 14%, 74%);
    margin: 3%;
}

#toggleBox h3{
    display: inline;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content:"";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input + .slider {
    background:  linear-gradient(to right ,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}

input:checked + .slider {
    background: linear-gradient(to right ,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.box{
    display: inline-block;
    background: white;
    border-radius: 7.5px;
    padding: 20px;
}

#main{
    background: linear-gradient(to right ,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    color: white;
    padding: 35px;
}

.detail{
    display: block;
    margin: 10%;
    border-top: 1px solid hsl(234, 14%, 74%);
    padding-top: 5%;
}

button{
    margin: 20px;
    width: 200px;
    height: 30px;
    color: white;
    font-family: inherit;
    background: linear-gradient(to right ,hsl(236, 72%, 79%),hsl(237, 63%, 64%));;
    border:none;
    border-radius: 5px;
}

#main button{
    background: white;
    color: hsl(237, 63%, 64%);
}

.annually{
    display: flex;
    align-items: center;
    justify-content: center;
}
.monthly{
    display: flex;
    align-items: center;
    justify-content: center;
}


.price{
    font-size: 40px;
}

.hidden{
    display: none;
}

@media(max-width: 900px){
    
    body{
    background-image: url("images/bg-top.svg");
    background-position: right top; 
    }

    .box{
        width: 65%;
        margin: 2.5%;
    }

    .display-area{
        display: block;
    }
    #main{
        padding: 20px;
    }
}}